@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout_plain";
}

<div class="text-center">
    <p><img width="700px" src="img/CoverPhoto.jpg"></img></p>
    <h1 class="display-4">Árshátíð Kópavogsbæjar 2025</h1>
    <p>Skráninig opnar eftir hádegi.</p>
</div>
