@{
    ViewData["Title"] = "Skárans!";
    Layout = "_Layout_plain";
}

<div class="text-center">
    <p><img width="500px" src="~/img/CoverPhoto.jpg"></img></p>
    <h1 class="display-4">En leiðinlegt</h1>
    <p>
        Það hefði verið svo gaman að hafa þig með okkur.<br/>
        Kannski hittumst við hér aftur á síðunni þegar þú skiptir um skoðun.<br/>

    </p>
</div>
