@{
    ViewData["Title"] = "Jbbbí! Sjáumst í partíinu";
    Layout = "_Layout_plain";
}

<div class="text-center">
    <p><img width="500px" src="@Url.Action("Image", "Home", new { imageName = "Banner" })"></img></p>
    <h1 class="display-4">Jibbí!</h1>
    <h2>Sjáumst í partíinu</h2>
</div>
